:root {
  --dark-blue-main: #1c2431;
  /*hsl(217, 28%, 15%);*/
  --dark-blue-content: #181f2a;
  /*hsl(218, 28%, 13%);*/
  --dark-blue-footer: #0b1523;
  /*hsl(216, 53%, 9%);*/
  --dark-blue-testimonial: #202a3c;
  /*hsl(219, 30%, 18%);*/

  --cyan: #65e2d9;
  /*hsl(176, 68%, 64%);*/
  --blue: #339ecc;
  /*hsl(198, 60%, 50%);*/

  --white: #ffffff;
  /*hsl(0, 0%, 100%);*/
  --gray: #d9d9d9;
  /*hsl(0, 0%, 85%);*/
  --black: #000000;
  /* hsl(0, 0%, 0%);*/
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--gray);
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--dark-blue-content);
  min-width: 380px;
}

h1 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.button {
  background-color: var(--blue);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.4rem 6rem;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1rem;letter-spacing: 0.1rem;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: var(--cyan);
  color: var(--white);
  box-shadow: 1px 1px 5px var(--cyan);
}
.button:active {
  transform: scale(0.95);
}