header {
    background: var(--dark-blue-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-link {
/*     border: 2px solid red; */
    padding: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--white);
    text-underline-offset: 0.5rem;
}